{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="container">
    <h1>Hello! This is P-256 ✅</h1>
    {% include 'oauth/hwi_oauth_content.html.twig' %}
</div>
{% endblock %}
